body {
    font: 14px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .dot {
    stroke: #000;
  }
  
  .tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
  }

  p {
    font-size: 12px;
  }
  .small-font {
    font-size: 12px !important;
  }
  .small-select {
    height: 35px !important;
  }
 